/********************
Basic Styling Removal
********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/***********************************
Styling and animation for the navbar
***********************************/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;
    z-index: 5;
}

.logo{
    color: #ebebeb;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #ebebeb;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: #ebebeb;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes  navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/*********************
Styling for the slider
*********************/
header{
    padding-bottom: 200px;
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #ba7453, #d1a984);
    z-index: -1;
}

section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.img-container {
    height: 60%;
    width: 100%;
    position: relative;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline{
    position: absolute;
    top: 72%;
    left: 12%;
    font-size: 100px;
    transform: translate(-20%, -70%);
    color: #ebebeb;
    z-index: 3;
}

.img-container::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.1;
}

/*********************
Styling for the intro
*********************/
.intro-title{
    text-align: center;
}
.intro-text{
    width: 30%;
    opacity: 0;
    transform:translateY(20px);
    transition: 0.5s all ease-in-out;
}

.intro-text-appear{
    opacity: 1;
    transform: translateY(0);
}

.intro-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#selfie{
    width: 460px;
    height: auto;
}