/********************
Basic Styling Removal
********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/***********************************
Styling and animation for the navbar
***********************************/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background: #1a1a1a;
    color: #ebebeb;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2vh;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    flex-wrap: wrap;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #ebebeb;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.5vh;
}

/*********************
Styling for the slider
*********************/
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /**background: linear-gradient(to left, #2a2a2a, #1a1a1a);**/
    background: #1a1a1a;
    z-index: -1;
}

section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 12vh;
}

.img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.img-container img{
    color: #ebebeb;
    width: auto;
    height: 100%;
    object-fit: cover;
    position: relative;
    box-shadow: 10px 10px 40px 0 rgba(0,0,0,0.75);
}

.slider-text{
    display: flex;
    flex-direction: column;
    color: #ebebeb;
    align-items: center;
    width: 30%;
}

.slider-text h2{
    width: 100%;
}
/*********************
Styling for the intro
*********************/


.intro{
    height: 100vh;
    background: #1a1a1a;
    color: #ebebeb;
    display: flex;
    justify-content: center;
}

img, iframe{
    max-width: 100%;
    max-height: 100%;
}


.intro-text, .intro-text2, .intro-text3, .intro-text4{
    width: 30%;
    opacity: 0;
    transform:translateY(20px);
    transition: 0.5s all ease-in-out;
    z-index: 1;
}

.intro-text-appear{
    opacity: 1;
    transform: translateY(0);
}

.intro-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#selfie{
    width: 460px;
    height: auto;
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.75);
}

#kassen{
    height: 420px;
    width: auto;
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.75);
}

iframe{
    box-shadow: 3px 10px 10px 0 rgba(0,0,0,0.75);
}

.icons{
    background: #1a1a1a;
    color: #ebebeb;
}

.icons h2{
    padding: 20px;
}

.icon-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon{
    width: 100px;
    height: 100px;
}

.icon-html{
    width: auto;
    height: 100px;
}
/*********************
Styling for the footer
*********************/

footer{
    height: 30vh;
    background: #1a1a1a;
    color: #ebebeb;
    padding: 20px;
}

.fa {
    padding: 10px;
    margin: 1px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #ebebeb;
    color: #1a1a1a;
}

.footer-content{
    padding: 10px;
}

.footer-link{
    color: #ebebeb;
    text-decoration: none;
    padding-left: 5px;
}

.fa-facebook{
    width: 35px;
}


@media only screen and (max-width: 960px) {
    .intro-content{
        flex-direction: column;
    }

    .intro-text, .intro-text2, .intro-text3, .intro-text4{
        width: 90%;
    }

    .headline{
        font-size: 30px;
    }

    #kassen{
        height: 400px;
        object-fit: cover;
    }

    #selfie{
        width: 400px;
    }
}